@model IEnumerable<PortfolioApp.Models.Skill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a class="nav-link" href="@Url.Action("Add","Skill")">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Create New</span>
</a>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>
